$extraLightGreen: rgb(157, 229, 118);
$lightGreen: rgb(106, 233, 43);
$mainGreen: rgb(96, 194, 41);
$mediumDarkGreen: rgb(67, 160, 17);
$darkGreen: rgb(45, 127, 1);
$sky-blue: rgb(102, 187, 197);
$black: rgb(25, 25, 25);